<div class="row">
    <div class="col">
        <button class="btn bg-secondary" routerLink="/home"><--</button>
    </div>
</div>
<div class="container">
    <div class="grid-container">
        <div class="grid-item" id="titulo"><h3>Cadastro Locador</h3></div>
        <div class="grid-item">
            <form>
                <div class="form-group">
                    <label for="nome">
                        Nome
                    </label>
                    <input type="text" id="nome" class="form-control" required="true">
                </div>

                <div class="form-group">
                    <label for="telefone">
                        Telefone
                    </label>
                        <input type="text" id="telefone" class="form-control" required="true">
                    </div>
            
                <div class="form-group">
                    <label for="dataNascimento">
                        dataNascimento
                    </label>
                    <input type="date" id="dataNascimento" class="form-control" required="true">
                </div>
            
                <div class="form-group">
                    <label for="email">
                        Email
                    </label>
                    <input type="email" id="email" class="form-control" required="true">
                </div>
            
                <div class="form-group">
                    <label for="fone">
                        Fone
                    </label>
                    <input type="text" id="fone" class="form-control" required="true">
                </div>
            
                <div class="form-group">
                    <label for="sexo">
                        Sexo
                    </label>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="masculino" name="sexo">
                    <label class="custom-control-label" for="masculino">Masculino</label>
                </div>

                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="feminino" name="sexo">
                    <label class="custom-control-label" for="feminino">Feminino</label>
                </div>
                </div>

                <div class="form-group">
                    <label for="rendaMensal">
                        rendaMensal
                    </label>
                    <input type="number" id="rendaMensal" class="form-control" required="true">
                </div>

                <div class="form-group">
                    <label for="sexo">
                        nomeFiador
                    </label>
                    <input type="text" id="sexo" class="form-control" required="true">
                </div>
            
                <div class="grid">
                    <div class="grid-item">
                        <button type="submit" class="btn bg-secondary">CADASTRAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

