@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

form{
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.grid{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
}

.grid-container{
    font-family: 'Poppins', sans-serif;
    display: grid;
    background-color: black;
    color: white;
    border-style: ridge;
    border-radius: 20px;
    border-color: whitesmoke;
}

#titulo{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

button{
    color: white;
}

input{
    border-style: outset;
}

.container{
    padding-top: 50px;
}
