<div class="row">
    <div class="col">
        <button class="btn bg-secondary" routerLink="/home"><--</button>
    </div>
</div>
<div class="container">
    <div class="grid-container">
        <div class="grid-item" id="titulo"><h3>Cadastro Imóvel</h3></div>
        <div class="grid-item">
            <form>
                <div class="form-group">
                    <label for="endereco">
                        Endereço
                    </label>
                    <input type="text" id="endereco" class="form-control" required="true">
                </div>

                <div class="form-group">
                    <label for="bairro">
                        Bairro
                    </label>
                    <input type="text" id="bairro" class="form-control" required="true">
                </div>

                <div class="form-group">
                    <label for="cep">
                        CEP
                    </label>
                    <input type="text" id="cep" class="form-control" required="true">
                </div>
            
                <div class="form-group">
                    <label for="cidade">
                        Cidade
                    </label>
                    <input type="text" id="cidade" class="form-control" required="true">
                </div>
            
                <div class="form-group">
                    <label for="uf">
                        UF
                    </label>
                    <input type="text" id="uf" class="form-control" required="true" maxlength="2" >
                </div>
            
                <div class="form-group">
                    <label for="qtdQuartos">
                        qtdQuartos
                    </label>
                    <input type="number" id="qtdQuartos" class="form-control" required="true">
                </div>

                <div class="form-group">
                    <label for="qtdSalas">
                        qtdSalas
                    </label>
                    <input type="number" id="qtdSalas" class="form-control" required="true">
                </div>

                <div class="form-group">
                    <label for="qtdBanheiros">
                        qtdBanheiros
                    </label>
                    <input type="number" id="qtdBanheiros" class="form-control" required="true">
                </div>

                <div class="form-group">
                    <label for="qtdCozinhas">
                        qtdCozinhas
                    </label>
                    <input type="number" id="qtdCozinhas" class="form-control" required="true">
                </div>

                <div class="form-group">
                    <label for="andares">
                        Andares
                    </label>
                    <input type="number" id="andares" class="form-control" required="true">
                </div>

                <div class="form-group">
                    <label for="complemento">
                        Complemento
                    </label>
                    <input type="text" id="complemento" class="form-control" required="true">
                </div>

                <div class="form-group">
                    <label for="valorVenal">
                        valorVenal
                    </label>
                    <input type="number" id="valorVenal" class="form-control" required="true">
                </div>

                <div class="form-group">
                    <label for="valorLocação">
                        valorLocação
                    </label>
                    <input type="number" id="valorLocação" class="form-control" required="true">
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="IsLocavel">
                                IsLocavel
                            </label>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="islocavels" name="islocavel">
                                <label class="custom-control-label" for="islocavels">Sim</label>
        
                                <input type="radio" class="custom-control-input" id="islocaveln" name="islocavel">
                                <label class="custom-control-label" for="islocaveln">Não</label>
                              </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="IsVenal">
                                IsVenal
                            </label>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="isvenals" name="isvenal">
                                <label class="custom-control-label" for="isvenals">Sim</label>
        
                                <input type="radio" class="custom-control-input" id="isvenaln" name="isvenal">
                                <label class="custom-control-label" for="isvenaln">Não</label>
                              </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="situacao">
                        Situação
                    </label>
                    <input type="text" id="situacao" class="form-control" required="true">
                </div>
            
                <div class="grid">
                    <div class="grid-item">
                        <button type="submit" class="btn bg-secondary">CADASTRAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

