<div class="row">
    <div class="col">
        <button class="btn bg-secondary" routerLink="/home"><--</button>
    </div>
</div>
<div class="container">
    <div class="grid-container">
        <div class="grid-item" id="titulo"><h3>Cadastro Imobiliaria</h3></div>
        <div class="grid-item">
            <form>
                <div class="form-group">
                    <label for="nome">
                        Nome
                    </label>
                    <input type="text" id="nome" class="form-control" required="true">
                </div>

                <div class="form-group">
                    <label for="endereco">
                        Endereço
                    </label>
                        <input type="text" id="endereco" class="form-control" required="true">
                    </div>
            
                <div class="form-group">
                    <label for="cidade">
                        Cidade
                    </label>
                    <input type="text" id="cidade" class="form-control" required="true">
                </div>
            
                <div class="form-group">
                    <label for="bairro">
                        Bairro
                    </label>
                    <input type="text" id="bairro" class="form-control" required="true">
                </div>
            
                <div class="form-group">
                    <label for="fone">
                        Fone
                    </label>
                    <input type="text" id="fone" class="form-control" required="true">
                </div>
            
                <div class="form-group">
                    <label for="site">
                        Site
                    </label>
                    <input type="text" id="site" class="form-control" required="true">
                </div>
            
                <div class="grid">
                    <div class="grid-item">
                        <button type="submit" class="btn bg-secondary">CADASTRAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
