<div class="container">
    <div class="grid">
        <div class="grid-item">
            <div>
                <button type="button" class="btn btn-primary" routerLink="/cadimobiliaria">Cadastro Imobiliaria</button>
                <button type="button" class="btn btn-primary" routerLink="/cadimovel">Cadastro Imovel</button>
                <button type="button" class="btn btn-primary" routerLink="/cadlocador">Cadastro Locador</button>
                <button type="button" class="btn btn-primary" routerLink="/cadproprietario">Cadastro Proprietario</button>
            </div>
        </div>
    </div>
</div>
